


.deleteBtn{
    color:white;
    font-size: 25px;
    position: absolute;
 top:0px;
 right:10px;
    cursor:pointer;
}
.playBtn{
    color:white;
    position:absolute;
    top: 25%;  
    left: 50%; 
  transform: translate(-50%, -50%);
   font-size: 45px;

}
.addToLikeBtn{
    cursor:pointer;
    font-size: 20px;
}
.addToLikeBtn:hover{
    color:white
}

.videoCard{height: 380px;
    background:#1b1b1b!important;

}
.likesCounter{
    display: flex;
    align-items: center;
}
